<form class="form-control" action="">
  <div class="row">
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="name"
        placeholder="Name"
        [(ngModel)]="customer.name"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="lastname"
        placeholder="Last name"
        [(ngModel)]="customer.lastname"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="beachName"
        placeholder="Beach Name"
        [(ngModel)]="customer.address.beachName"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="beachNumber"
        placeholder="Beach Telephone Number"
        [(ngModel)]="customer.address.beachNumber"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="street"
        placeholder="Beach Street"
        [(ngModel)]="customer.address.street"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="city"
        placeholder="Beach City"
        [(ngModel)]="customer.address.city"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="state"
        placeholder="Beach State"
        [(ngModel)]="customer.address.state"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="zip"
        placeholder="Beach ZIP"
        [(ngModel)]="customer.address.zip"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="email"
        name="email"
        placeholder="Owner Email"
        [(ngModel)]="customer.email"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="number"
        placeholder="Owner Telephone Number"
        [(ngModel)]="customer.number"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="customer.password"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="area"
        placeholder="Beach Area"
        [(ngModel)]="customer.area"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="bar"
        placeholder="Bar"
        [(ngModel)]="customer.bar"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="restaurant"
        placeholder="Restaurant"
        [(ngModel)]="customer.restaurant"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="shower"
        placeholder="Shower"
        [(ngModel)]="customer.shower"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="waiter"
        placeholder="Waiter service"
        [(ngModel)]="customer.waiter"
      />
    </div>
    <div class="col-12 col-md-6">
      <button class="btn btn-primary" (click)="saveNewUser()">Save</button>
      <button class="btn btn-warning" (click)="editUser()">Edit</button>
    </div>
  </div>
</form>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Personal Email</th>
      <th>Personal Number</th>
      <th>Beach details</th>
      <th>Area</th>
      <th>Services</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.lastname }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.number }}</td>
      <td>
        {{ customer.address.beachName }} <br />
        {{ customer.address.beachNumber }} <br />
        {{ customer.address.street }} <br />
        {{ customer.address.city }} <br />
        {{ customer.address.state }} <br />
        {{ customer.address.zip }}
      </td>
      <td>{{ customer.area }}</td>
      <td>
        {{ customer.bar }} <br />
        {{ customer.restaurant }} <br />
        {{ customer.shower }} <br />
        {{ customer.waiter }} <br />
      </td>

      <!-- <td><button class="btn btn-primary">Mostra Indirizzo</button></td> -->
      <td>
        <button class="btn btn-warning" (click)="editUser()">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="removeUser(customer.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
