<form class="form-control" action="">
  <div class="row">
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="name"
        placeholder="Name"
        [(ngModel)]="customer.name"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="lastname"
        placeholder="Last name"
        [(ngModel)]="customer.lastname"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="street"
        placeholder="Street"
        [(ngModel)]="customer.address.street"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="city"
        placeholder="City"
        [(ngModel)]="customer.address.city"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="state"
        placeholder="State"
        [(ngModel)]="customer.address.state"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="text"
        name="zip"
        placeholder="ZIP"
        [(ngModel)]="customer.address.zip"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="email"
        name="email"
        placeholder="Email"
        [(ngModel)]="customer.email"
      />
    </div>
    <div class="col-12 col-md-6">
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="customer.password"
      />
    </div>
    <div class="col-12 col-md-6">
      <button class="btn btn-primary" (click)="saveNewUser()">Salva</button>
      <button class="btn btn-warning" (click)="editUser()">Modifica</button>
    </div>
  </div>
</form>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Indirizzo</th>
      <th>Modifica</th>
      <th>Cancella</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.lastname }}</td>
      <td>{{ customer.email }}</td>
      <td><button class="btn btn-primary">Mostra Indirizzo</button></td>
      <td>
        <button class="btn btn-warning" (click)="editUser()">Modifica</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="removeUser()">Cancella</button>
      </td>
    </tr>
  </tbody>
</table>
