<div class="container">
  <p>{{ single.id }}</p>

  <p>{{ single.address.beachName }}</p>
  <p>{{ single.address.beachDescription }}</p>
  <p>{{ single.address.beachNumber }}</p>

  <p>{{ single.address.city }}</p>
  <p>{{ single.address.street }}</p>
  <p>{{ single.address.zip }}</p>
  <p>{{ single.address.state }}</p>

  <p>{{ single.area }}</p>
  <p>{{ single.bar }}</p>
  <p>{{ single.restaurant }}</p>
  <p>{{ single.shower }}</p>
  <p>{{ single.waiter }}</p>

  <p>{{ single.photo1 }}</p>
  <p>{{ single.photo2 }}</p>
  <p>{{ single.photo3 }}</p>
</div>
